<!DOCTYPE html>
<html>
<head>
  <title>Im2LaTeX Demo</title>
</head>
<body>
  <!-- center all of this -->
  <div style="text-align: center;">
    <h1>Im2LaTeX Demo</h1>
    <p>Upload an image of a math expression to get its LaTeX code.</p>
    <form id="upload-form" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required>
      <input type="submit" value="Upload">
    </form>
    <div id="image-frame" style="display: none;">
      <img id="image" src="" alt="Uploaded image">
    </div>
    <div id="result">
      <textarea id="latex" rows="5" cols="50" readonly></textarea>
    </div>
 

  <!-- Create a js script to show the uploaded image-->
  <script>
    const imageInput = document.querySelector('input[type="file"]');
    imageInput.addEventListener('change', event => {
      const imageFrame = document.getElementById('image-frame');
      imageFrame.style.display = 'block';
      const image = document.getElementById('image');
      image.src = URL.createObjectURL(event.target.files[0]);
    });
  </script>

  
  <script>
    const form = document.getElementById('upload-form');
    form.addEventListener('submit', event => {
      event.preventDefault();
      const formData = new FormData(form);
      fetch('/im2latex/', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        const resultDiv = document.getElementById('result');
        if (data.status === 'Thành công') {
          const latexInput = document.getElementById('latex');
          latexInput.value = data.latex;
          latexInput.removeAttribute('readonly');
        } else {
          resultDiv.innerHTML = 'Error: ' + data.error.join(', ');
        }
      })
      .catch(error => {
        const resultDiv = document.getElementById('result');
        resultDiv.innerHTML = 'Error: ' + error.message;
      });
    });
  </script>
  
  <!-- Create a text at the BOTTOM-RIGHT CORNER of the site, right magrin all of texts-->
  <div style="text-align: right; margin-right: 10px;">
      <p>Graduation Thesis Demo</p>
      <p>Authors: Vinh Le Ai Quoc </p>
      <p>Supervisor: Assoc.Prof., Dr. Nguyen Viet Linh</p>
      <p>Dr. Nguyen Viet Hung</p>
  </div>
</body>
</html>